.card-home {
    max-width: 500px;
    max-height: fit-content;
    margin: 20px auto;
}

.utils_margin:not(:first-of-type) {
    margin-left: 10px;
}

.utils_click:hover {
    cursor: pointer;
    color: red;
}

.home_likes {
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.home_likes-like {
    margin: 0 5px !important;
}